#----config----
# https://docs.dnspod.cn/api/5f55993d8ae73e11c5b01ce6/
# 5. 关于UserAgent：
# 请求的时候必须设置 UserAgent ，如果不设置或者设置为不合法的（比如设置为浏览器的）也会导致帐号被封禁 API 。
# UserAgent 的格式必须为：程序英文名称/版本(联系邮箱)，比如：MJJ DDNS Client/1.0.0 (dnspod@dnspod.cn)。
USERAGENT="DNSPOD ddns client/1.0.0 (username@gmail.com)"
#your domain : "example.com" DOMAIN="example.com"
DOMAIN="example.com"
#subdomain : "test.example.com" SUBDOMAIN="test"
SUBDOMAIN="test"
#API Token 生成方法详见：
#https://support.dnspod.cn/Kb/showarticle/tsid/227/，
#完整的 API Token 是由 ID,Token 组合而成的，用英文的逗号分割
ID="123456"
TOKEN="xxxxxxxxxxxxx"
#是否使用方糖推送信息 1--使用 0--不使用(默认)
#方糖推送 sc.ftqq.com
FTPUSH=1
#FTPUSH=1时修改FTSCKEY
FTSCKEY="SCUxxxxxxxxx"
#-------------
